<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-menu-toggle>
          <ion-icon name="close-outline"></ion-icon>
        </ion-menu-toggle>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <section style="display: flex; flex-flow: column; height: 100%;">
        <div>
          <ul>
            <li (click)="this.functions.goToView('/intro')">
              Intro
            </li>
          </ul>
        </div>
        <div style="margin-top: auto;">
          <ion-button (click)="goToLogin()">
            Cerrar sesión
          </ion-button>
        </div>
      </section>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>