<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="padding: 10px;">
      <ion-row >
        <ion-row>
          <ion-col id="main-content" class="ion-align-items-center">
            <ion-menu-button></ion-menu-button>
          </ion-col>
          <div style="align-content: center;">
            <span>Music App</span>
          </div>
        </ion-row>
        <div style="margin-left: auto;">
          <div>
            <ion-button (click)="theme.cambiarColor()">Cambiar tema</ion-button>
          </div>
          <!-- <img src="./../assets/icon/theme-icon.png" alt=""> -->
        </div>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div>
    <div>
      <div>
        <div style="display: flex;">
          <div style="padding: 5px;">
            
          </div>
          <div style="display: flex; gap: 5px; padding: 5px; margin-left: auto;">
            <span style="font-weight: bold;">Tema actual: </span>
            <span>{{(theme.actualColor === theme.darkColor) ? 'Oscuro' : 'Claro'}}</span>
          </div>
        </div>
        <div class="content-title">
          <h1 style="font-size: 34px">¿Qué escuchamos hoy?</h1>
          <p>Aquí tienes las recomendaciones para empezar el día!</p>
        </div>
      </div>

      <section>
        <swiper-container pagination="true" loop="true" slides-per-view="2" navigation="true" autoplay = "true">
          <swiper-slide *ngFor="let album of albums" (click)="loadSongsByAlbum(album.id)">
            <div class="slide-content">
              <!-- <ion-card>
                <ion-card-header>
                  <ion-card-title> -->
                    <img [src]="album.image"z>
                    <h4>
                      {{ album.name }}
                    </h4>
                  <!-- </ion-card-title> -->
                  <!-- <ion-card-subtitle>{{ genre.description }}</ion-card-subtitle> -->
                <!-- </ion-card-header> -->
              <!-- </ion-card> -->
            </div>
          </swiper-slide>
          
        </swiper-container>
      </section>

      <!-- <section>
        <swiper-container pagination="true" loop="true" slides-per-view="4" navigation="true" autoplay = "true">
          <swiper-slide *ngFor="let genre of genres">
            <div class="slide-content">
              <ion-card>
                <img [src]="genre.image" [alt]="genre.title" />
                <ion-card-header>
                  <ion-card-title>{{ genre.title }}</ion-card-title>
                  <ion-card-subtitle>{{ genre.description }}</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </div>
          </swiper-slide>
          
        </swiper-container>
      </section> -->
    </div>
  </div>
</ion-content>
