<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="padding: 10px;">
      <ion-row >
        <ion-row>
          <ion-col id="main-content" class="ion-align-items-center">
            <ion-menu-button></ion-menu-button>
          </ion-col>
          <div style="align-content: center;">
            <span>Music App</span>
          </div>
        </ion-row>
        <div style="margin-left: auto;">
          <div>
            <ion-button (click)="theme.cambiarColor()">Cambiar tema</ion-button>
          </div>
          <!-- <img src="./../assets/icon/theme-icon.png" alt=""> -->
        </div>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div>
    <div>
      <div>
        <div style="display: flex;">
          <div style="display: flex; gap: 5px; padding: 5px; margin-left: auto;">
            <!-- <span style="font-weight: bold;">Tema actual: </span>
            <span>{{(theme.actualColor === theme.darkColor) ? 'Oscuro' : 'Claro'}}</span> -->
          </div>
        </div>
      </div>

      <section>
        <div style="padding: 5px 15px;">
          <div>
            <h2>
              <strong>
                Recomendaciones del día
              </strong>
            </h2>
          </div>
          <div>
            <div>
              <div>
                <div>
                  <h4>
                      Albumes
                  </h4>
                </div>
                <div>
                  <swiper-container slides-per-view="1" freemode="true">
                    <swiper-slide *ngFor="let album of albums" (click)="loadSongsByAlbum(album.id)">
                      <div style="border: 1px solid black; border-radius: 50px 10px 10px 50px; overflow: hidden;">
                        <div style="display: flex; height: 180px">
                          <div style="border: 1px solid green;">
                            <div>
                              <div style="">
                                 <img [src]="album.image" [alt]="album.label" style="width: 180px;">
                              </div>
                            </div>
                          </div>
                          <div style="border: 1px solid red"></div>
                        </div>
                      </div>
                      <!-- <div style="width: 200px;">
                        <div>
                          <div>
                            <img [src]="album.image" [alt]="album.label" style="width: 250px;">
                          </div>
                        </div>
                        <div>
                          <div>
                            <span>
                              <strong>
                                {{ album.name }}
                              </strong>
                            </span>
                          </div>
                        </div>
                      </div> -->
                    </swiper-slide>
                  </swiper-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <swiper-container pagination="true" loop="true" slides-per-view="2" navigation="false">
          <swiper-slide *ngFor="let album of albums" (click)="loadSongsByAlbum(album.id)">
            <div class="slide-content">
                    <img [src]="album.image"z>
                    <h4>
                      {{ album.name }}
                    </h4>
            </div>
          </swiper-slide>
        </swiper-container> -->
      </section>

      <!-- <section>
        <swiper-container pagination="true" loop="true" slides-per-view="4" navigation="true" autoplay = "true">
          <swiper-slide *ngFor="let genre of genres">
            <div class="slide-content">
              <ion-card>
                <img [src]="genre.image" [alt]="genre.title" />
                <ion-card-header>
                  <ion-card-title>{{ genre.title }}</ion-card-title>
                  <ion-card-subtitle>{{ genre.description }}</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </div>
          </swiper-slide>
          
        </swiper-container>
      </section> -->
    </div>
  </div>
</ion-content>
