.slide-content {
  text-align: center;
  padding: 10px 20px;
}

.slide-content img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}

.slide-content h2 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.slide-content p {
  text-align: justify;
}