<ion-toolbar>
  <div class="toolbar-content">
    <ion-title style="padding: 10px;">
      <ion-row >
        <ion-row>
          <ion-col id="main-content" class="ion-align-items-center">
            <ion-menu-button></ion-menu-button>
          </ion-col>
          <div style="align-content: center;">
            <span>Music App</span>
          </div>
        </ion-row>
        <div style="margin-left: auto; align-content: center;">
          <div>
            <ion-icon name="moon" (click)="theme.cambiarColor()"></ion-icon>
          </div>
        </div>
      </ion-row>
    </ion-title>
  </div>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div>
    <div>
      <div>
        <div style="display: flex;">
          <div style="display: flex; gap: 5px; padding: 5px; margin-left: auto;">
          </div>
        </div>
      </div>

      <section>
        <div style="padding: 5px 15px;">

          <div>
            <h4 style="margin: 5px 0px">
              <strong>
                Recomendaciones del día
              </strong>
            </h4>
          </div>

          <div>
            <div>
              <div>
                <div>
                  <h6> Albumes </h6>
                </div>
                <div>
                  <swiper-container slides-per-view="3" freemode="true" space-between="30">
                    <swiper-slide class="albums-slider" *ngFor="let album of albums" (click)="loadSongsByAlbum(album.id)">
                      <div style="width: fit-content;">
                        <div>
                          <div style="overflow: hidden;">
                            <img [src]="album.image" [alt]="album.label" style="width: 140px; border-radius: 8px;">
                          </div>
                        </div>
                        <div>
                          <div style="overflow: hidden;">
                            <span style="font-size: 12px;">
                              <strong>
                                {{ album.name }}
                              </strong>
                            </span>
                          </div>
                        </div>
                      </div>
                    </swiper-slide>
                  </swiper-container>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div>
              <div>
                <h6> Artistas </h6>
              </div>
              <div>
                <div class="main-container-artists-slides">
                  <swiper-container slides-per-view="1" space-between="30" freemode="true" autoplay="true">
                    <swiper-slide *ngFor="let artist of artists" >
                      <div (click)="loadSongsByArtist(artist.id)" style="background-color: var(--main-color); border-radius: 5px;">
                        <div style="display: flex;">
                          
                          <div style="max-width: 90px; height: 90px; overflow: hidden; border-radius: 5px 0px 0px 5px;">
                            <img [src]="artist.image" alt="" style="">
                          </div>

                          <div style="width: 100%; padding: 10px; display: flex; flex-flow: column; gap: 2px;"> 
                            <div style="display: flex;">
                              <div>
                                <span style="font-size: 18px;">
                                  <strong>
                                    {{ artist.name }}
                                  </strong>
                                </span>
                              </div>
                              <div style="margin-left: auto;">
                                  <div style="display: flex; gap: 2px;">
                                      <span style="font-size: 10px; margin-top: 2px;">
                                        Artista Verificado
                                      </span>
                                    <div>
                                      <ion-icon name="checkmark-circle"></ion-icon>
                                    </div>
                                  </div>
                              </div>
                            </div>

                            <div style="font-size: 14px;">
                              <span>
                                <strong> Generos: </strong> 
                              </span>
                              <span>
                               {{ artist.genres?.join(', ') || 'N/A' }} 
                              </span>
                            </div>

                              <div style="margin-top: 5px; display: flex; gap: 4px;">
                                <div>
                                  <span style="font-size: 12px;">
                                      20.000.000 de seguidores
                                      <!-- {{ artist.followers }} Seguidores -->
                                  </span>
                                </div>
                                <div>
                                </div>
                              </div>

                          </div>

                        </div>
                      </div>
                    </swiper-slide>
                  </swiper-container>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="music-footer">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-start">
          {{ formatTime(currentSong?.currentTime) || '0:00' }}
        </ion-col>
        <ion-col class="ion-text-end">
          {{ formatTime(getRemainingTime()) || '0:00' }}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-progress-bar color="dark" [value]="newTime || 0"></ion-progress-bar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="heart"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-text>
            {{ song.name || 'N/A'}}
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="play" *ngIf="!song.playing" (click)="playSong()"></ion-icon>
          <ion-icon name="pause" *ngIf="song.playing" (click)="pauseSong()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>